/*Estilização dos campos edit dentro da table*/

#minhaTabela .celulaEmEdicao input[type=text]{
    width:80%;
    border:0;
    background-color:rgb(255,253,210);  
}

#minhaTabela input[type=text]{
    width:80%;
    border:0;
    background-color:rgb(255,253,210);  
}
